
   .span-form{
      font-size: 2rem;
      font-weight: 500;
      min-height: 46px;
      margin: 8px 0 0 0;
      padding: 10px 0;
      /*text-align: left;*/
      color: #646d77;
     
    }

   .input-login{
  max-width: 300px;
  position: relative;
  margin: 0 auto;
  }
  div{
      display: block;
  }
  .butt{
      font-weight: 500;
      color: #fff;
      background-color: #52d2a5;
      box-shadow: none;
  }
  .ajust{
      max-width: 500px;
      position: relative;
  }
  .div-conn{
      margin-top: 35px;
  }

  .monbutt{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
  height: auto;
  min-height: 46px;
  padding: 0 30px 0 30px;
  text-align: center;
  color: #52d2a5;
  border-radius: 3px;
  background-color: #eceff5;
  padding-top: 10px;
 
  }
 .btn-welcome{
    margin: 30px 0;
    background-color: white;
    color: #51baa4;
    width: 10%;
 }
.mon-span{
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        /* display: none; */
    }

    .error-prenom, .error-nom, .error-email, .error-password, .error-confirm-password, .error-result{
        color: red;
        font-size: 12px;
        display: none;
    }

    .fg-pwd{
        font-size: 12px;
        color: black;
    }

    .span-type{
        margin-left: 5px;
        color: #ffffff;
        float: right;
        font-weight: initial;
    }

    .user-name{
        color: white; 
        font-weight : bold; 
        margin: 0
    }

    .user-name a{
        text-decoration: none;
        color: #ffffff;
    }

    .a-logout{
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    float: right;
    }

.a-logout:hover{

    color: rgb(175, 35, 35);
    text-decoration: none;
    float: right;
}

.a-login{
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
    color: green;
    text-decoration: none;
    float: right;
}
    
.a-login:hover{
    
color: rgb(9, 94, 9);
text-decoration: none;
float: right;
}

.a-aside{
    color: #ffffff;
    text-decoration: none;
}

.a-aside:hover{
    color: #52cca4;
    text-decoration: none;
}